In [57]:
import pandas as pd

In [58]:
#Data Ingestion step
df=pd.read_csv('data/finalTrain.csv')

In [59]:
df.head()

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [60]:
df.isnull().sum()

ID                                0
Delivery_person_ID                0
Delivery_person_Age            1854
Delivery_person_Ratings        1908
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weather_conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken (min)                  0
dtype: int64

In [61]:
df

,ID,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,0xcdcd,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,0xd987,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,0x2784,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,0xc8b6,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,0xdb64,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,0x7c09,JAPRES04DEL01,30.0,4.8,26.902328,75.794257,26.912328,75.804257,24-03-2022,11:35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32
45580,0xd641,AGRRES16DEL01,21.0,4.6,0.000000,0.000000,0.070000,0.070000,16-02-2022,19:55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36
45581,0x4f8d,CHENRES08DEL03,30.0,4.9,13.022394,80.242439,13.052394,80.272439,11-03-2022,23:50,24:05:00,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16
45582,0x5eee,COIMBRES11DEL01,20.0,4.7,11.001753,76.986241,11.041753,77.026241,07-03-2022,13:35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26
45583,0x5fb2,RANCHIRES09DEL02,23.0,4.9,23.351058,85.325731,23.431058,85.405731,02-03-2022,17:10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36

In [62]:
df.duplicated().sum()

0

In [63]:
df['Delivery_person_Ratings'].fillna(df['Delivery_person_Ratings'].median(),inplace=True)

In [64]:
df.isnull().sum()

ID                                0
Delivery_person_ID                0
Delivery_person_Age            1854
Delivery_person_Ratings           0
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weather_conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken (min)                  0
dtype: int64

In [9]:
df.groupby(['Delivery_person_Age','Delivery_person_Ratings'])['Delivery_person_age'].mean()

KeyError: 'Column not found: Delivery_person_age'

In [65]:
df['Delivery_person_Age'].median()

30.0

In [66]:
df['Delivery_person_Age'].fillna(df['Delivery_person_Age'].median(),inplace=True)

In [67]:
df.isnull().sum()

ID                                0
Delivery_person_ID                0
Delivery_person_Age               0
Delivery_person_Ratings           0
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weather_conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken (min)                  0
dtype: int64

In [68]:
df=df.drop(['ID'],axis=1)

In [54]:
df.head()

,Delivery_person_ID,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,DEHRES17DEL01,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,KOCRES16DEL01,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,PUNERES13DEL03,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,LUDHRES15DEL02,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,KNPRES14DEL02,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [69]:
df=df.drop(['Delivery_person_ID'],axis=1)

In [70]:
#df=df.drop(['Time_Orderd'],axis=1)

In [71]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [72]:
df.isnull().sum()

Delivery_person_Age               0
Delivery_person_Ratings           0
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1731
Time_Order_picked                 0
Weather_conditions              616
Road_traffic_density            601
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             993
Festival                        228
City                           1200
Time_taken (min)                  0
dtype: int64

In [73]:
df['Weather_conditions'].value_counts()

Weather_conditions
Fog           7653
Stormy        7584
Cloudy        7533
Sandstorms    7494
Windy         7422
Sunny         7282
Name: count, dtype: int64

In [74]:
df['Road_traffic_density'].value_counts()

Road_traffic_density
Low       15476
Jam       14139
Medium    10945
High       4423
Name: count, dtype: int64

In [75]:
df=df.dropna(subset=['Weather_conditions'])

In [76]:
df.isnull().sum()

Delivery_person_Age               0
Delivery_person_Ratings           0
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1115
Time_Order_picked                 0
Weather_conditions                0
Road_traffic_density              0
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             981
Festival                        225
City                           1178
Time_taken (min)                  0
dtype: int64

In [77]:
df['multiple_deliveries'].unique()

array([ 3.,  1.,  0., nan,  2.])

In [78]:
df['multiple_deliveries'].value_counts()

multiple_deliveries
1.0    27779
0.0    13898
2.0     1956
3.0      354
Name: count, dtype: int64

In [79]:
df['multiple_deliveries'].median()

1.0

In [80]:
df['Festival'].value_counts()

Festival
No     43865
Yes      878
Name: count, dtype: int64

In [81]:
df=df.dropna(subset=['multiple_deliveries','City','Festival'],how='all')

In [82]:
df.isnull().sum()

Delivery_person_Age               0
Delivery_person_Ratings           0
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1115
Time_Order_picked                 0
Weather_conditions                0
Road_traffic_density              0
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries             980
Festival                        224
City                           1177
Time_taken (min)                  0
dtype: int64

In [83]:
df['multiple_deliveries']=df['multiple_deliveries'].ffill()

In [84]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [85]:
df['Festival']=df['Festival'].bfill()

In [86]:
df['City'].value_counts()

City
Metropolitian    33611
Urban            10016
Semi-Urban         163
Name: count, dtype: int64

In [87]:
df=df.dropna(subset=['City'])

In [88]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,12-02-2022,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,13-02-2022,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,04-03-2022,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,13-02-2022,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,14-02-2022,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [89]:
df.isnull().sum()

Delivery_person_Age               0
Delivery_person_Ratings           0
Restaurant_latitude               0
Restaurant_longitude              0
Delivery_location_latitude        0
Delivery_location_longitude       0
Order_Date                        0
Time_Orderd                    1081
Time_Order_picked                 0
Weather_conditions                0
Road_traffic_density              0
Vehicle_condition                 0
Type_of_order                     0
Type_of_vehicle                   0
multiple_deliveries               0
Festival                          0
City                              0
Time_taken (min)                  0
dtype: int64

In [90]:
#Segregate numerical and categorical columns
numerical_columns=df.columns[df.dtypes!='object']
categorical_columns=df.columns[df.dtypes=='object']
print("Numerical columns:",numerical_columns)
print("Categorical Columns:",categorical_columns)

Numerical columns: Index(['Delivery_person_Age', 'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Vehicle_condition',
       'multiple_deliveries', 'Time_taken (min)'],
      dtype='object')
Categorical Columns: Index(['Order_Date', 'Time_Orderd', 'Time_Order_picked', 'Weather_conditions',
       'Road_traffic_density', 'Type_of_order', 'Type_of_vehicle', 'Festival',
       'City'],
      dtype='object')

In [91]:
df[categorical_columns].describe()

,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Type_of_order,Type_of_vehicle,Festival,City
count,43790,42709,43790,43790,43790,43790,43790,43790,43790
unique,44,176,193,6,4,4,3,2,3
top,15-03-2022,21:55,21:30,Fog,Low,Snack,motorcycle,No,Metropolitian
freq,1148,452,476,7482,14936,11038,25649,42917,33611

In [92]:
df['Order_Date'].unique()

array(['12-02-2022', '13-02-2022', '04-03-2022', '14-02-2022',
       '02-04-2022', '01-03-2022', '16-03-2022', '20-03-2022',
       '15-02-2022', '10-03-2022', '11-03-2022', '27-03-2022',
       '26-03-2022', '05-04-2022', '12-03-2022', '01-04-2022',
       '05-03-2022', '11-02-2022', '08-03-2022', '03-04-2022',
       '30-03-2022', '28-03-2022', '18-03-2022', '14-03-2022',
       '06-04-2022', '04-04-2022', '24-03-2022', '19-03-2022',
       '09-03-2022', '25-03-2022', '02-03-2022', '13-03-2022',
       '29-03-2022', '31-03-2022', '17-03-2022', '07-03-2022',
       '15-03-2022', '16-02-2022', '03-03-2022', '18-02-2022',
       '23-03-2022', '17-02-2022', '06-03-2022', '21-03-2022'],
      dtype=object)

In [93]:
df['Order_Date']=pd.to_datetime(df['Order_Date'],format="%d-%m-%Y")

In [94]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min)
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,2022-02-12,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,2022-02-13,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,2022-03-04,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,2022-02-13,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,2022-02-14,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41

In [95]:
df['month']=df['Order_Date'].dt.month

In [96]:
df['month'].dtype

dtype('int32')

In [97]:
df['day']=df['Order_Date'].dt.day

In [98]:
df.head()
df['day']

0        12
1        13
2         4
3        13
4        14
         ..
45579    24
45580    16
45581    11
45582     7
45583     2
Name: day, Length: 43790, dtype: int32

In [99]:
df.drop('Order_Date',axis=1)

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Time_Order_picked,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),month,day
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,21:55,22:10,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,2,12
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,14:55,15:05,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,2,13
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,17:30,17:40,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,3,4
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,09:20,09:30,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2,13
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,19:50,20:05,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,30.0,4.8,26.902328,75.794257,26.912328,75.804257,11:35,11:45,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32,3,24
45580,21.0,4.6,0.000000,0.000000,0.070000,0.070000,19:55,20:10,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36,2,16
45581,30.0,4.9,13.022394,80.242439,13.052394,80.272439,23:50,24:05:00,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16,3,11
45582,20.0,4.7,11.001753,76.986241,11.041753,77.026241,13:35,13:40,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26,3,7
45583,23.0,4.9,23.351058,85.325731,23.431058,85.405731,17:10,17:15,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36,3,2

In [100]:
#Segregate numerical and categorical columns
numerical_columns=df.columns[df.dtypes!='object']
categorical_columns=df.columns[df.dtypes=='object']
print("Numerical columns:",numerical_columns)
print("Categorical Columns:",categorical_columns)

Numerical columns: Index(['Delivery_person_Age', 'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Order_Date', 'Vehicle_condition',
       'multiple_deliveries', 'Time_taken (min)', 'month', 'day'],
      dtype='object')
Categorical Columns: Index(['Time_Orderd', 'Time_Order_picked', 'Weather_conditions',
       'Road_traffic_density', 'Type_of_order', 'Type_of_vehicle', 'Festival',
       'City'],
      dtype='object')

In [101]:
df['Time_Order_picked']

0           22:10
1           15:05
2           17:40
3           09:30
4           20:05
           ...
45579       11:45
45580       20:10
45581    24:05:00
45582       13:40
45583       17:15
Name: Time_Order_picked, Length: 43790, dtype: object

In [23]:
str(df['Time_Order_picked'])

'0           22:10\n1           15:05\n2           17:40\n3           09:30\n4           20:05\n           ...   \n45579       11:45\n45580       20:10\n45581    24:05:00\n45582       13:40\n45583       17:15\nName: Time_Order_picked, Length: 45584, dtype: object'

In [102]:
df[['Hour','minute','second']]=df.Time_Order_picked.str.split(":",expand=True)

In [103]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Time_Order_picked,Weather_conditions,...,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),month,day,Hour,minute,second
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,2022-02-12,21:55,22:10,Fog,...,motorcycle,3.0,No,Metropolitian,46,2,12,22,10,None
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,2022-02-13,14:55,15:05,Stormy,...,motorcycle,1.0,No,Metropolitian,23,2,13,15,05,None
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,2022-03-04,17:30,17:40,Sandstorms,...,scooter,1.0,No,Metropolitian,21,3,4,17,40,None
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,2022-02-13,09:20,09:30,Sandstorms,...,motorcycle,0.0,No,Metropolitian,20,2,13,09,30,None
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,2022-02-14,19:50,20:05,Fog,...,scooter,1.0,No,Metropolitian,41,2,14,20,05,None

In [104]:
df=df.drop('second',axis=1)

In [105]:
df=df.drop('minute',axis=1)

In [106]:
df=df.drop('Time_Order_picked',axis=1)

In [107]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),month,day,Hour
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,2022-02-12,21:55,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,2,12,22
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,2022-02-13,14:55,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,2,13,15
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,2022-03-04,17:30,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,3,4,17
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,2022-02-13,09:20,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2,13,09
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,2022-02-14,19:50,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,2,14,20

In [108]:
df['Hour'].value_counts()

Hour
21             4243
18             4198
20             4167
22             4156
19             4127
23             4062
17             3469
10             1833
11             1758
09             1751
08             1440
12              947
24              830
15              772
14              712
13              685
16              657
0.833333333     438
0.916666667     419
1               412
0.75            410
0.875           402
0.958333333     401
0.791666667     389
0.375           195
0.416666667     185
0.5             182
0.458333333     142
0.625            94
0.666666667      90
0.583333333      81
0.541666667      78
0.708333333      65
Name: count, dtype: int64

In [109]:
df['Hour']=df['Hour'].astype(float)
#df['Hour'].map(lambda x: x*10)

In [110]:
df.drop('Order_Date',axis=1)

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Time_Orderd,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),month,day,Hour
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,21:55,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,2,12,22.0
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,14:55,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,2,13,15.0
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,17:30,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,3,4,17.0
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,09:20,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2,13,9.0
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,19:50,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,2,14,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45579,30.0,4.8,26.902328,75.794257,26.912328,75.804257,11:35,Windy,High,1,Meal,motorcycle,0.0,No,Metropolitian,32,3,24,11.0
45580,21.0,4.6,0.000000,0.000000,0.070000,0.070000,19:55,Windy,Jam,0,Buffet,motorcycle,1.0,No,Metropolitian,36,2,16,20.0
45581,30.0,4.9,13.022394,80.242439,13.052394,80.272439,23:50,Cloudy,Low,1,Drinks,scooter,0.0,No,Metropolitian,16,3,11,24.0
45582,20.0,4.7,11.001753,76.986241,11.041753,77.026241,13:35,Cloudy,High,0,Snack,motorcycle,1.0,No,Metropolitian,26,3,7,13.0
45583,23.0,4.9,23.351058,85.325731,23.431058,85.405731,17:10,Fog,Medium,2,Snack,scooter,1.0,No,Metropolitian,36,3,2,17.0

In [111]:
for Hour in df:
    print(df[Hour])

0        36.0
1        21.0
2        23.0
3        34.0
4        24.0
         ...
45579    30.0
45580    21.0
45581    30.0
45582    20.0
45583    23.0
Name: Delivery_person_Age, Length: 43790, dtype: float64
0        4.2
1        4.7
2        4.7
3        4.3
4        4.7
        ...
45579    4.8
45580    4.6
45581    4.9
45582    4.7
45583    4.9
Name: Delivery_person_Ratings, Length: 43790, dtype: float64
0        30.327968
1        10.003064
2        18.562450
3        30.899584
4        26.463504
           ...
45579    26.902328
45580     0.000000
45581    13.022394
45582    11.001753
45583    23.351058
Name: Restaurant_latitude, Length: 43790, dtype: float64
0        78.046106
1        76.307589
2        73.916619
3        75.809346
4        80.372929
           ...
45579    75.794257
45580     0.000000
45581    80.242439
45582    76.986241
45583    85.325731
Name: Restaurant_longitude, Length: 43790, dtype: float64
0        30.397968
1        10.043064
2        18.652450
3        30.919584
4        26.593504
           ...
45579    26.912328
45580     0.070000
45581    13.052394
45582    11.041753
45583    23.431058
Name: Delivery_location_latitude, Length: 43790, dtype: float64
0        78.116106
1        76.347589
2        74.006619
3        75.829346
4        80.502929
           ...
45579    75.804257
45580     0.070000
45581    80.272439
45582    77.026241
45583    85.405731
Name: Delivery_location_longitude, Length: 43790, dtype: float64
0       2022-02-12
1       2022-02-13
2       2022-03-04
3       2022-02-13
4       2022-02-14
           ...
45579   2022-03-24
45580   2022-02-16
45581   2022-03-11
45582   2022-03-07
45583   2022-03-02
Name: Order_Date, Length: 43790, dtype: datetime64[ns]
0        21:55
1        14:55
2        17:30
3        09:20
4        19:50
         ...
45579    11:35
45580    19:55
45581    23:50
45582    13:35
45583    17:10
Name: Time_Orderd, Length: 43790, dtype: object
0               Fog
1            Stormy
2        Sandstorms
3        Sandstorms
4               Fog
            ...
45579         Windy
45580         Windy
45581        Cloudy
45582        Cloudy
45583           Fog
Name: Weather_conditions, Length: 43790, dtype: object
0           Jam
1          High
2        Medium
3           Low
4           Jam
          ...
45579      High
45580       Jam
45581       Low
45582      High
45583    Medium
Name: Road_traffic_density, Length: 43790, dtype: object
0        2
1        1
2        1
3        0
4        1
        ..
45579    1
45580    0
45581    1
45582    0
45583    2
Name: Vehicle_condition, Length: 43790, dtype: int64
0         Snack
1          Meal
2        Drinks
3        Buffet
4         Snack
          ...
45579      Meal
45580    Buffet
45581    Drinks
45582     Snack
45583     Snack
Name: Type_of_order, Length: 43790, dtype: object
0        motorcycle
1        motorcycle
2           scooter
3        motorcycle
4           scooter
            ...
45579    motorcycle
45580    motorcycle
45581       scooter
45582    motorcycle
45583       scooter
Name: Type_of_vehicle, Length: 43790, dtype: object
0        3.0
1        1.0
2        1.0
3        0.0
4        1.0
        ...
45579    0.0
45580    1.0
45581    0.0
45582    1.0
45583    1.0
Name: multiple_deliveries, Length: 43790, dtype: float64
0        No
1        No
2        No
3        No
4        No
         ..
45579    No
45580    No
45581    No
45582    No
45583    No
Name: Festival, Length: 43790, dtype: object
0        Metropolitian
1        Metropolitian
2        Metropolitian
3        Metropolitian
4        Metropolitian
             ...
45579    Metropolitian
45580    Metropolitian
45581    Metropolitian
45582    Metropolitian
45583    Metropolitian
Name: City, Length: 43790, dtype: object
0        46
1        23
2        21
3        20
4        41
         ..
45579    32
45580    36
45581    16
45582    26
45583    36
Name: Time_taken (min), Length: 43790, dtype: int64
0        2
1        2
2        3
3        2
4        2
        ..
45579    3
45580    2
45581    3
45582    3
45583    3
Name: month, Length: 43790, dtype: int32
0        12
1        13
2         4
3        13
4        14
         ..
45579    24
45580    16
45581    11
45582     7
45583     2
Name: day, Length: 43790, dtype: int32
0        22.0
1        15.0
2        17.0
3         9.0
4        20.0
         ...
45579    11.0
45580    20.0
45581    24.0
45582    13.0
45583    17.0
Name: Hour, Length: 43790, dtype: float64

In [ ]:
def time(x):
    if x<1:
        x=y

In [112]:
df['Hour'].values

array([22., 15., 17., ..., 24., 13., 17.])

In [125]:
df2=pd.read_csv('data/finalTrain.csv')
df2[['Hour','minute']]=df2.Time_Orderd.str.split(":",expand=True)
x=df['Hour'].values
y=df2['Hour'].values
##print(y)
for i in range(len(x)):
    if x[i]<1:
        #print(x[i])
        x[i]=float(y[i])
print(x)

[22. 15. 17. ... 24. 13. 17.]

In [121]:
df2[['Hour','minute']]=df2.Time_Orderd.str.split(":",expand=True)

In [127]:
for i in df['Hour'].values:
    if i<1:
        print(i)

0.458333333
0.791666667
0.5
0.708333333
0.5
0.916666667
0.416666667
0.75
0.416666667
0.833333333
0.916666667
0.833333333
0.916666667
0.916666667
0.5
0.916666667
0.75
0.916666667
0.791666667
0.875
0.875
0.916666667
0.833333333
0.791666667
0.375
0.375
0.583333333
0.916666667
0.875
0.75
0.541666667
0.875
0.791666667
0.916666667
0.458333333
0.625
0.833333333
0.791666667
0.416666667
0.75
0.958333333
0.916666667
0.875
0.791666667
0.791666667
0.75
0.75
0.75
0.625
0.916666667
0.416666667
0.958333333
0.708333333
0.916666667
0.833333333
0.458333333
0.958333333
0.375
0.416666667
0.833333333
0.875
0.958333333
0.875
0.791666667
0.833333333
0.916666667
0.875
0.875
0.375
0.458333333
0.916666667
0.833333333
0.833333333
0.416666667
0.833333333
0.666666667
0.875
0.875
0.5
0.875
0.833333333
0.958333333
0.5
0.541666667
0.875
0.791666667
0.75
0.833333333
0.791666667
0.75
0.5
0.833333333
0.416666667
0.958333333
0.833333333
0.916666667
0.416666667
0.916666667
0.708333333
0.5
0.75
0.958333333
0.75
0.625
0.958333333
0.833333333
0.791666667
0.916666667
0.583333333
0.833333333
0.375
0.75
0.75
0.5
0.916666667
0.916666667
0.791666667
0.375
0.875
0.75
0.75
0.75
0.833333333
0.833333333
0.916666667
0.625
0.791666667
0.791666667
0.791666667
0.958333333
0.958333333
0.958333333
0.75
0.375
0.791666667
0.75
0.875
0.916666667
0.958333333
0.875
0.791666667
0.958333333
0.791666667
0.833333333
0.625
0.833333333
0.416666667
0.75
0.833333333
0.708333333
0.666666667
0.458333333
0.833333333
0.833333333
0.833333333
0.458333333
0.833333333
0.791666667
0.833333333
0.833333333
0.833333333
0.916666667
0.916666667
0.833333333
0.75
0.875
0.791666667
0.958333333
0.958333333
0.916666667
0.833333333
0.833333333
0.791666667
0.5
0.75
0.875
0.916666667
0.958333333
0.75
0.875
0.916666667
0.833333333
0.833333333
0.583333333
0.916666667
0.958333333
0.833333333
0.458333333
0.75
0.958333333
0.583333333
0.458333333
0.875
0.875
0.875
0.875
0.875
0.75
0.791666667
0.791666667
0.875
0.75
0.875
0.791666667
0.916666667
0.541666667
0.375
0.791666667
0.875
0.75
0.833333333
0.791666667
0.958333333
0.958333333
0.916666667
0.875
0.875
0.916666667
0.5
0.416666667
0.791666667
0.833333333
0.458333333
0.875
0.666666667
0.958333333
0.458333333
0.958333333
0.875
0.416666667
0.375
0.791666667
0.875
0.75
0.791666667
0.958333333
0.458333333
0.791666667
0.5
0.875
0.708333333
0.958333333
0.958333333
0.583333333
0.916666667
0.75
0.833333333
0.875
0.791666667
0.541666667
0.833333333
0.916666667
0.833333333
0.791666667
0.833333333
0.625
0.75
0.875
0.916666667
0.791666667

In [131]:
import numpy as np
for i in df2['Hour'].values:
    print(i)
    np.where(df['Hour']<1, i, df['Hour'])

21
14
17
09
19
20
14
20
20
21
20
22
08
19
12
18
20
23
21
23
22
22
23
13
21
22
18
14
0.458333333
09
08
0.958333333
17
nan
19
19
10
21
0.791666667
16
11
15
22
22
20
22
17
22
20
09
20
22
21
22
23
15
10
20
10
15
20
12
15
22
10
nan
23
21
20
20
12
0.875
23
18
18
11
20
21
12
23
10
21
10
0.958333333
08
17
20
22
23
23
12
23
23
22
10
08
21
22
20
10
20
23
10
23
19
22
23
09
18
22
20
nan
18
14
16
22
1
21
23
23
14
10
21
08
0.375
17
23
16
08
20
23
nan
19
21
21
19
14
18
12
23
12
23
17
10
09
12
17
19
23
18
20
22
17
19
18
23
17
23
18
21
08
22
11
23
19
18
18
22
0.791666667
13
nan
17
19
21
19
19
21
09
20
21
0.958333333
0.625
19
17
0.375
0.833333333
12
21
19
19
22
17
19
10
18
10
17
08
19
17
15
09
18
15
18
16
18
19
18
20
22
10
0.666666667
14
20
0.791666667
18
23
19
23
0.75
18
nan
21
23
0.458333333
22
0.458333333
23
0.875
19
22
20
12
18
22
23
15
11
22
23
nan
10
22
17
21
18
15
22
19
20
18
18
23
11
13
18
21
21
21
22
20
18
20
0.416666667
22
21
11
17
21
18
20
21
22
20
21
21
23
17
20
nan
13
0.916666667
23
18
20
08
17
22
11
21
17
09
20
17
18
nan
17
19
0.958333333
21
10
11
0.75
17
18
23
17
11
09
22
17
17
18
11
0.791666667
23
19
20
11
0.375
19
nan
08
0.458333333
20
19
22
0.666666667
21
15
17
11
20
10
08
17
22
12
nan
12
22
17
10
21
nan
19
19
23
14
08
21
17
18
10
17
0.875
20
11
18
23
23
17
0.791666667
19
21
20
20
18
0.75
23
23
12
20
15
23
22
22
15
18
22
nan
17
18
19
19
23
23
17
21
20
20
22
09
10
13
20
12
08
15
19
nan
19
22
18
17
0.791666667
0.833333333
13
08
20
19
08
09
21
23
nan
nan
23
23
21
20
nan
20
11
11
18
18
17
22
22
12
08
22
23
21
20
17
17
23
0.416666667
18
23
0.875
18
21
17
08
0.916666667
0.875
11
17
21
22
22
22
0.625
10
19
11
21
10
23
23
18
08
18
21
17
19
21
11
17
14
22
18
22
21
23
20
20
17
0.75
0.791666667
19
21
20
09
23
20
nan
23
19
17
18
22
08
10
nan
19
18
17
20
0.791666667
21
22
18
20
08
nan
11
18
11
18
20
19
14
17
22
14
09
23
23
19
17
nan
20
21
19
22
21
23
21
23
20
22
0.5
22
20
0.458333333
20
18
08
0.958333333
19
23
19
23
22
20
14
22
18
12
18
17
22
20
18
23
0.75
18
16
20
20
18
23
20
09
19
22
21
23
23
nan
18
08
19
11
22
08
19
13
17
18
19
10
nan
17
08
17
19
20
17
18
23
nan
17
22
1
22
nan
22
17
19
20
18
0.5
17
20
nan
11
17
20
22
23
19
22
0.875
22
18
19
22
22
0.791666667
17
23
0.791666667
20
23
21
18
20
21
0.416666667
0.5
20
19
22
10
17
20
20
0.875
17
21
17
nan
22
0.708333333
21
0.416666667
22
22
08
21
19
nan
20
21
09
20
20
09
08
20
11
16
20
0.958333333
08
09
19
18
16
22
23
21
23
17
10
09
18
22
18
18
0.458333333
10
17
13
23
10
0.375
10
17
22
1
17
08
18
18
19
22
20
0.833333333
15
21
0.916666667
18
21
23
20
23
19
0.416666667
21
18
20
nan
12
22
22
21
22
10
14
23
0.875
18
17
15
23
10
17
08
19
19
23
08
nan
23
23
18
0.916666667
22
23
08
08
09
18
16
14
17
nan
17
18
08
19
0.916666667
nan
21
21
15
17
19
0.708333333
16
17
17
13
17
11
0.5
19
21
09
19
0.791666667
18
18
18
10
20
0.958333333
19
0.916666667
23
22
23
10
18
nan
20
22
20
0.458333333
19
09
17
22
11
21
23
22
10
20
16
09
17
21
19
21
18
16
09
22
23
23
23
11
17
18
0.5
22
19
1
20
18
08
11
21
21
21
21
09
18
14
18
19
21
0.541666667
0.5
08
11
22
23
21
nan
18
23
16
17
19
23
0.416666667
22
17
23
08
10
17
19
10
18
18
18
12
21
08
20
17
10
21
nan
10
18
23
0.958333333
19
10
08
20
21
18
18
17
1
nan
21
22
10
23
17
21
19
22
0.875
08
21
17
11
22
23
22
20
20
21
18
08
11
13
19
18
0.875
09
20
20
19
18
08
19
22
0.916666667
19
0.958333333
22
22
0.916666667
12
0.5
17
17
0.875
19
1
22
21
22
21
10
19
21
17
21
22
21
20
23
21
22
0.958333333
16
10
17
17
18
11
21
23
23
17
nan
17
17
nan
10
09
16
22
17
10
18
19
17
20
22
18
22
11
nan
21
23
21
0.833333333
08
21
18
10
22
19
0.958333333
19
19
19
23
20
21
17
16
22
18
16
19
15
22
1
19
21
21
09
nan
17
21
19
20
23
21
19
20
16
08
0.958333333
11
nan
12
13
22
23
0.916666667
23
23
19
21
19
17
0.416666667
09
17
1
19
22
19
17
23
19
20
20
21
20
19
nan
15
22
17
09
0.416666667
21
22
0.541666667
11
23
17
23
11
1
0.583333333
20
18
19
0.791666667
nan
20
19
17
21
18
0.791666667
20
0.75
19
19
08
0.833333333
22
10
21
0.458333333
17
21
22
21
23
23
19
17
17
22
11
15
21
0.833333333
18
22
20
18
23
17
23
12
nan
20
20
17
19
17
17
0.958333333
0.875
17
16
23
21
20
17
22
12
nan
0.833333333
17
19
22
20
17
nan
23
11
11
21
20
08
23
22
21
20
10
19
09
20
nan
23
0.625
22
12
19
20
20
22
21
17
17
22
17
14
22
18
08
15
17
17
23
17
09
22
21
17
20
22
11
19
23
23
23
08
19
22
11
nan
19
20
23
12
23
09
19
19
20
11
10
17
0.916666667
21
0.833333333
22
19
16
22
18
18
0.375
21
09
18
12
18
23
22
21
22
23
21
19
11
17
18
17
22
18
23
19
08
09
23
0.75
21
15
16
12
22
19
20
11
19
17
18
23
21
0.416666667
17
19
08
16
nan
20
21
nan
08
23
18
17
21
10
22
08
17
18
20
09
11
21
20
23
20
1
21
nan
20
22
nan
0.666666667
11
13
0.75
17
0.958333333
19
18
20
17
09
20
12
20
11
0.833333333
23
21
1
19
22
22
16
22
14
19
21
18
23
23
17
11
11
20
11
19
21
17
22
18
13
22
0.791666667
17
19
0.458333333
23
18
13
11
18
21
18
23
23
21
18
18
18
21
18
18
23
0.375
0.75
11
23
17
17
0.916666667
0.416666667
19
0.958333333
0.875
19
23
22
23
17
21
11
23
14
18
21
0.875
23
18
17
10
17
nan
13
19
21
17
22
21
19
19
19
0.416666667
10
17
23
21
15
08
21
21
0.458333333
23
22
18
09
19
20
12
0.5
nan
19
0.916666667
nan
0.416666667
11
19
10
21
09
0.916666667
23
23
20
23
17
21
20
21
19
10
nan
15
17
22
18
1
12
0.916666667
19
09
20
23
16
12
22
22
11
17
11
20
17
17
22
23
nan
17
20
18
0.375
17
17
19
17

KeyboardInterrupt:

In [132]:
df['Final_Hour']=df['Hour']
df.loc[df['Hour']<1,'Final_Hour']=df2['Hour']

In [137]:
df['Final_Hour'].unique()

array([22.0, 15.0, 17.0, 9.0, 20.0, 21.0, 8.0, 19.0, 12.0, 18.0, 23.0,
       13.0, 14.0, 11.0, 10.0, 16.0, 24.0, nan, 1.0, '18', '20', '21',
       '22', '10', '16', '19', '11', '09', '12', '13', '08', '17', '15',
       '14'], dtype=object)

In [139]:
df['Final_Hour'].isnull().sum()

147

In [141]:
df['Hour'].isnull().sum()

144

In [142]:
df['Final_Hour']=df['Final_Hour'].ffill()

In [144]:
df['Final_Hour']=df['Final_Hour'].astype(int)

In [148]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Order_Date,Time_Orderd,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),month,day,Final_Hour
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,2022-02-12,21:55,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,2,12,22
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,2022-02-13,14:55,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,2,13,15
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,2022-03-04,17:30,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,3,4,17
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,2022-02-13,09:20,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2,13,9
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,2022-02-14,19:50,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,2,14,20

In [147]:
df=df.drop('Hour',axis=1)

In [149]:
df=df.drop('Order_Date',axis=1)

In [151]:
df=df.drop('Time_Orderd',axis=1)

In [152]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),month,day,Final_Hour
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,Fog,Jam,2,Snack,motorcycle,3.0,No,Metropolitian,46,2,12,22
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,Stormy,High,1,Meal,motorcycle,1.0,No,Metropolitian,23,2,13,15
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,Sandstorms,Medium,1,Drinks,scooter,1.0,No,Metropolitian,21,3,4,17
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,Sandstorms,Low,0,Buffet,motorcycle,0.0,No,Metropolitian,20,2,13,9
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,Fog,Jam,1,Snack,scooter,1.0,No,Metropolitian,41,2,14,20

In [153]:
#Segregate numerical and categorical columns
numerical_columns=df.columns[df.dtypes!='object']
categorical_columns=df.columns[df.dtypes=='object']
print("Numerical columns:",numerical_columns)
print("Categorical Columns:",categorical_columns)

Numerical columns: Index(['Delivery_person_Age', 'Delivery_person_Ratings', 'Restaurant_latitude',
       'Restaurant_longitude', 'Delivery_location_latitude',
       'Delivery_location_longitude', 'Vehicle_condition',
       'multiple_deliveries', 'Time_taken (min)', 'month', 'day',
       'Final_Hour'],
      dtype='object')
Categorical Columns: Index(['Weather_conditions', 'Road_traffic_density', 'Type_of_order',
       'Type_of_vehicle', 'Festival', 'City'],
      dtype='object')

In [154]:
df['Weather_conditions'].unique()

array(['Fog', 'Stormy', 'Sandstorms', 'Windy', 'Cloudy', 'Sunny'],
      dtype=object)

In [155]:
df['Weather_conditions'].value_counts()

Weather_conditions
Fog           7482
Stormy        7386
Cloudy        7361
Sandstorms    7283
Windy         7219
Sunny         7059
Name: count, dtype: int64

In [156]:
Weather_map={'Stormy':1,'Sandstorms':2,'windy':3,'Fog':4,'Cloudy':5,'Sunny':6}

In [157]:
df['Road_traffic_density'].unique()

array(['Jam', 'High', 'Medium', 'Low'], dtype=object)

In [158]:
traffic_map={'Jam':1,'High':2,'Medium':3,'Low':4}

In [159]:
df['Type_of_order'].unique()

array(['Snack', 'Meal', 'Drinks', 'Buffet'], dtype=object)

In [160]:
order_map={'Drinks':1,'Snack':2,'Meal':3,'Buffet':4}

In [161]:
df['Type_of_vehicle'].unique()

array(['motorcycle', 'scooter', 'electric_scooter'], dtype=object)

In [162]:
vehicle_map={'electric_scooter':1,'scooter':2,'motorcycle':3}

In [167]:
df['Festival'].unique()

array(['No', 'Yes'], dtype=object)

In [168]:
festival_map={'No':0,'Yes':1}

In [169]:
df['City'].unique()

array(['Metropolitian', 'Urban', 'Semi-Urban'], dtype=object)

In [170]:
city_map={'Semi-urban':1,'urban':2,'Metropolitian':3}

In [171]:
df['City']=df['City'].map(city_map)

In [172]:
df['Festival']=df['Festival'].map(festival_map)
df['Type_of_vehicle']=df['Type_of_vehicle'].map(vehicle_map)
df['Type_of_order']=df['Type_of_order'].map(order_map)
df['Road_traffic_density']=df['Road_traffic_density'].map(traffic_map)
df['Weather_conditions']=df['Weather_conditions'].map(Weather_map)

In [173]:
df.head()

,Delivery_person_Age,Delivery_person_Ratings,Restaurant_latitude,Restaurant_longitude,Delivery_location_latitude,Delivery_location_longitude,Weather_conditions,Road_traffic_density,Vehicle_condition,Type_of_order,Type_of_vehicle,multiple_deliveries,Festival,City,Time_taken (min),month,day,Final_Hour
0,36.0,4.2,30.327968,78.046106,30.397968,78.116106,4.0,1,2,2,3,3.0,0,3.0,46,2,12,22
1,21.0,4.7,10.003064,76.307589,10.043064,76.347589,1.0,2,1,3,3,1.0,0,3.0,23,2,13,15
2,23.0,4.7,18.562450,73.916619,18.652450,74.006619,2.0,3,1,1,2,1.0,0,3.0,21,3,4,17
3,34.0,4.3,30.899584,75.809346,30.919584,75.829346,2.0,4,0,4,3,0.0,0,3.0,20,2,13,9
4,24.0,4.7,26.463504,80.372929,26.593504,80.502929,4.0,1,1,2,2,1.0,0,3.0,41,2,14,20

In [174]:
df.to_csv('EDA_done.csv')